@model BTL_QuanLyBanDienThoai.Models.ViewModel.ProductDetailViewModel

@{
    ViewData["Title"] = "Product detail";   
}

<!-- breadcrumb -->
<div class="container p-t-80">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="javascripts:void(0)" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a href="javascripts:void(0)" class="stext-109 cl8 hov-cl1 trans-04">
            @Model.Product.Category.Name
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            @Model.Product.Name
        </span>
    </div>
</div>


<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="/@Model.Product.ImageDefault">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="/@Model.Product.ImageDefault" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/@Model.Product.ImageDefault">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                            @if (Model.productImages != null)
                            {
                                @foreach (var image in Model.productImages)
                                {
                                    <div class="item-slick3" data-thumb="/@image.Path">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="/@image.Path" alt="IMG-PRODUCT">

                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/@image.Path">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        @Model.Product.Name
                    </h4>

                    <span class="mtext-106 cl2">
                        $@Model.Product.Price - @Model.Product.Price2
                    </span>

                    <p class="stext-102 cl3 p-t-23">
                        @Model.Product.Description
                    </p>

                    <!--  -->

                    <div class="p-t-33">
                        @{
                            List<string> aryAttr1 = new List<string>();
                            string attrName1 = @Model.AttrNames[0];
                            string attrName2 = @Model.AttrNames[1];
                            var attr1 = (int)Model.attr1;
                            var attr2 = (int)Model.attr2;
                        }

                        <div class="d-flex align-items-center m-b-20">
                            <div class="size-203 respon6">
                                @attrName1
                            </div>

                            <select id="@attrName1" class="form-control attribute_group_name @attrName1"
                                    name="attribute_@attrName1" data-attribute_name="attribute_@attrName1" data-show_option_none="yes">
                                @foreach (var variant in Model.ProductVariants)
                                {
                                    var attrValue = variant.Value[attr1]["attr_value"];
                                    if (!aryAttr1.Contains(attrValue))
                                    {
                                        <option id="@attrValue" value="@attrValue" class=""
                                                data-name="@variant.Value[attr1]["attr_value"]" data-product-variant-id="@variant.Key">
                                            @attrValue
                                        </option>
                                        aryAttr1.Add(attrValue);
                                    }
                                }
                            </select>
                       </div>

                        <div class="d-flex align-items-center m-b-20">
                            <div class="size-203 respon6">
                                @attrName2
                            </div>

                            <select id="@attrName2" class="form-control product_variant_option @attrName2"
                                    name="attribute_@attrName2" data-attribute_name="attribute_@attrName2" data-show_option_none="yes">
                                @foreach (var variant in Model.ProductVariants)
                                {
                                    var attrValue = variant.Value[attr2]["attr_value"];

                                    <option id="@variant.Value[attr1]["attr_value"]-@attrValue" value="@attrValue" class="d-none"
                                            data-name="@variant.Value[attr1]["attr_value"]" data-product-variant-id="@variant.Key">
                                        @attrValue
                                    </option>

                                }
                            </select>
                      </div>
                        <div class="flex-w justify-content-center">
                            <div class="d-flex align-items-center">
                                <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                    </div>
                                    <input id="quantity-item" class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">
                                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                    </div>
                                </div>
                                <button id="btn-add-to-card" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                    Add to cart
                                </button>
                            </div>
                        </div>
                    </div>


                    <!--  -->
                    <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                        <div class="flex-m bor9 p-r-10 m-r-11">
                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                                <i class="zmdi zmdi-favorite"></i>
                            </a>
                        </div>

                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Related Products -->
<section class="sec-relate-product bg0 p-t-45 p-b-105">
    <div class="container">
        <div class="p-b-45">
            <h3 class="ltext-106 cl5 txt-center">
                Related Products
            </h3>
        </div>

        <!-- Slide2 -->
        <div class="wrap-slick2">
            <div class="slick2">
                @foreach (var productCategory in Model.CategoryProducts)
                {
                    <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                                <img src="/@productCategory.ImageDefault" alt="IMG-PRODUCT">

                                <a asp-action="Index" asp-controller="ProductDetails" asp-route-id="@productCategory.Id" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                    Quick View
                                </a>
                            </div>

                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l ">
                                    <a asp-action="Index" asp-controller="ProductDetails" asp-route-id="@productCategory.Id" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        @productCategory.Name
                                    </a>

                                    <span class="stext-105 cl3">
                                        @productCategory.Price
                                    </span>
                                </div>

                                <div class="block2-txt-child2 flex-r p-t-3">
                                    <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                        <img class="icon-heart1 dis-block trans-04" src="~/web/assets/images/icons/icon-heart-01.png" alt="ICON">
                                        <img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/web/assets/images/icons/icon-heart-02.png" alt="ICON">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        // Add to Cart
        $(document).on('click', '#btn-add-to-card', function () {
            var product_variant_id = $(".product_variant_option option:selected").attr(
                'data-product-variant-id');
            var qty = $('#quantity-item').val();

            $.ajax({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                type: 'post',
                url: '/cart/add',
                data: {
                    id: product_variant_id,
                    qty: qty
                },
                success: function (resp) {
                    $.toast({
                        heading: 'Success',
                        text: resp['message'],
                        showHideTransition: 'slide',
                        position: 'bottom-right',
                        icon: 'success'
                    })
                    setTimeout(
                        function () {
                            location.reload();
                        }, 500);
                },
                error: function () {
                    $.toast({
                        heading: 'Error',
                        text: 'Item added failed',
                        showHideTransition: 'slide',
                        position: 'bottom-right',
                        icon: 'error'
                    })
                }
            })
        });

        // Select attr
        if ($(".attribute_group_name option:selected")) {

            let id = $(".attribute_group_name option:selected").attr('data-name');

            $(`.product_variant_option option[data-name="${id}"]`).removeClass('d-none');
        }

        $(".attribute_group_name").change(function () {
            $(".product_variant_option option").addClass('d-none');

            $(".product_variant_option option").removeAttr("selected");

            let id = $(".attribute_group_name option:selected").attr('data-name');

            $(`.product_variant_option option[data-name="${id}"]`).removeClass('d-none');

            $(`.product_variant_option option[data-name="${id}"]`).first().attr('selected', 'selected');
        });
    })
</script>