<!DOCTYPE html>
<html lang="en">

@Html.Partial("_Header")

<body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":true, "showRightSidebarOnStart": false}'>
    
    <!-- Begin page -->
    <div class="wrapper">

        <!-- Left Sidebar Start -->
        @Html.Partial("_LeftBar")
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                @Html.Partial("_TopBar")
                <!-- end Topbar -->

                <!-- Start Content-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title d-flex justify-content-between align-items-center">
                                    @RenderSection("Title")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <!-- end Content -->
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    <!-- Right Sidebar -->
    @Html.Partial("_RightBar")
    <!-- /Right-bar -->

    <!-- Footer Sidebar -->
    @Html.Partial("_Footer")
    <!-- Footer Sidebar end -->
</body>
</html>