@using BTL_QuanLyBanDienThoai.Models.ViewModel;
@using X.PagedList;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title {
            Product Variants
}

@section Css {
    <style>
        .suggestion-box {
            position: absolute;
            border: 1px solid #ccc;
            max-height: 150px;
            overflow-y: auto;
            display: none;
            min-width: 226px;
            left: 23px;
        }

        .suggestion-item {
            padding: 5px;
            cursor: pointer;
        }
    </style>

}

@model X.PagedList.PagedList<ProductVariantViewModel>

<div class="card">
    <div class="card-body p-0">
        <div class="app-search dropdown d-lg-block bg-white p-2 pt-3">
            <div class="input-group row pl-4">
                <div class="">
                    <input type="text" class="form-control" placeholder="Search..." id="searchInput">
                    <span class="mdi mdi-magnify search-icon pl-4"></span>
                    @* <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                    </div> *@
                </div>
            </div>

            <div class="form-group position-relative pl-4">
                <div class="suggestion-box bg-white" id="searchResults">
                </div>
            </div>
        </div>
        <div class="table-responsive users-table">
            <table class="table table-centered mb-0 " id="product-variants-table">
                <thead>
                    <tr>
                        <th class="d-none d-sm-table-cell">Product</th>
                        <th>Name</th>
                        <th class="d-none d-sm-table-cell">Qty</th>
                        <th class="d-none d-sm-table-cell">Price</th>
                        <th colspan="1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var proVariant in Model)
                        {
                        <tr>
                            <td class="d-none d-sm-table-cell">@proVariant.Product.Name</td>
                            <td>@proVariant.Name</td>
                            <td class="d-none d-sm-table-cell">
                                <h4><span class="badge badge-primary">@proVariant.Quantity</span></h4>
                            </td>
                            <td class="d-none d-sm-table-cell">@proVariant.Price</td>
                            <td>
                                <div class='btn-group'>
                                    <a asp-area="admin" asp-controller="Product" asp-action="Edit" asp-route-id="@proVariant.Product.Id" asp-fragment="products-table" class="action-icon">
                                        <i class="mdi mdi-settings"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card-footer clearfix">
            <nav>
                <ul class="pagination justify-content-center">
                    @if (Model.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a href="javascript:void(0);" class="page-link" onclick="LoadPage(@Model.PageNumber - 1)">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    }
                    @for (var i = 1; i <= Model.PageCount; i++)
                    {

                        @if (i == @Model.PageNumber)
                        {
                            <li class="page-item active">
                                <a href="javascript:void(0);" class="page-link" onclick="LoadPage(@i)">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a href="javascript:void(0);" class="page-link" onclick="LoadPage(@i)">@i</a>
                            </li>
                        }

                    }
                    @if (Model.HasNextPage)
                    {
                        <li class="page-item">
                            <a href="javascript:void(0);" class="page-link" onclick="LoadPage(@Model.PageNumber + 1)">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function LoadPage(page) {
            $.ajax({
                type: "GET",
                url: "/Admin/Product-Variants?page=" + page,
                success: function (data) {
                    $(".card-body").html($(data).find(".card-body").html());
                }
            });
        }
        $(document).ready(function () {
            $('#searchInput').on('input', function () {
                var inputValue = $(this).val();
                if (inputValue === '') {
                    $('#searchResults').hide();
                } else {
                    $('#searchResults').show();
                }
            });

            $('.suggestion-item').on('click', function () {
                var selectedValue = $(this).text();
                $('#searchInput').val(selectedValue);
                $('#searchResults').hide();
            });
            // Search
            $("#searchInput").on("input", function () {
                var query = $(this).val();
                let html = "";
                if (query.length >= 1) {
                    $.ajax({
                        type: "POST",
                        url: "/admin/Product-Variants/Search",
                        data: { query: query },
                        success: function (data) {
                            $("#searchResults").empty();
                            if (data.length > 0) {
                                data.forEach(function (product) {
                                    var productEdit = `/admin/product-variants/edit/${product.id}`;

                                    html = `<a class="dropdown-item" href="${productEdit}">${product.name}</a>`

                                    $("#searchResults").append(html);
                                });
                            } else {
                                $("#searchResults").html('<a class="dropdown-item" href="javascripts:void(0)">No results found</a>');
                            }
                        },
                        error: function () {
                            // Handle any errors
                        }
                    });
                } else {
                    $("#searchResults").empty();
                }
            });
        });
    </script>

}