@using BTL_QuanLyBanDienThoai.Models.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title {
            Product Variants
}

@model List<ProductVariantViewModel>

<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive users-table">
            <table class="table table-centered mb-0 " id="product-variants-table">
                <thead>
                    <tr>
                        <th class="d-none d-sm-table-cell">Product</th>
                        <th>Name</th>
                        <th class="d-none d-sm-table-cell">Qty</th>
                        <th class="d-none d-sm-table-cell">Price</th>
                        <th colspan="1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var proVariant in Model)
                        {
                        <tr>
                            <td class="d-none d-sm-table-cell">@proVariant.Product.Name</td>
                            <td>@proVariant.Name</td>
                            <td class="d-none d-sm-table-cell">
                                <h4><span class="badge badge-primary">@proVariant.Quantity</span></h4>
                            </td>
                            <td class="d-none d-sm-table-cell">@proVariant.Price</td>
                            <td>
                                <div class='btn-group'>
                                    <a asp-area="admin" asp-controller="Product" asp-action="Edit" asp-route-id="@proVariant.Product.Id" asp-fragment="products-table" class="action-icon">
                                        <i class="mdi mdi-settings"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card-footer clearfix">
            <div class="float-right">
                @* @include('adminlte-templates::common.paginate', ['records' => $products]) *@
            </div>
        </div>
    </div>

</div>