@using BTL_QuanLyBanDienThoai.Models.ViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Title {
                    Products

    <a class="btn btn-primary float-right align-items-center"
       href="/admin/Products/Create">
        Add New
    </a>
}

@model List<ProductViewModel>

<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive users-table">
            <table class="table table-centered mb-0 " id="products-table">
                <thead>
                    <tr>
                        <th class="d-none d-lg-table-cell">Image</th>
                        <th>Name</th>
                        <th class="d-none d-sm-table-cell">Qty</th>
                        <th class="d-none d-sm-table-cell">Price</th>
                        <th class="d-none d-lg-table-cell">Category</th>
                        <th>Status</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var productViewModel in Model)
                    {
                        <tr>
                            <td class="d-none d-lg-table-cell">
                                <img src="/@productViewModel.ImageDefault"
                                     width="50"
                                     height="50"
                                     style="border-radius: 5px" />
                            </td>
                            <td>@productViewModel.Name</td>
                            <td class="d-none d-sm-table-cell">
                                <h4><span class="badge badge-primary">@productViewModel.Quantity</span></h4>
                            </td>
                            <td class="d-none d-sm-table-cell">@productViewModel.Price</td>
                            <td class="d-none d-lg-table-cell">@productViewModel.CategoryName</td>
                            <td>
                                <div>
                                    <input class="updateStatus" type="checkbox" id="product-@productViewModel.Id" @(productViewModel.Status == 1 ? "checked" : "")
                                           object_id="@productViewModel.Id" status="@productViewModel.Status" data-switch="success" />
                                    <label for="product-@productViewModel.Id" data-on-label="Yes" data-off-label="No" class="mb-0 d-block"></label>
                                </div>
                            </td>
                            <td>
                                <div class='btn-group'>
                                    <a asp-area="admin" asp-controller="Product" asp-action="Edit" asp-route-id="@productViewModel.Id" class="action-icon">
                                        <i class="mdi mdi-pencil"></i>
                                    </a>
                                    <a onclick="HandleDelete(@productViewModel.Id)" href="javascript:void(0)" class="action-icon">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="card-footer clearfix">
            <div class="float-right">
                @* @include('adminlte-templates::common.paginate', ['records' => $products]) *@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function HandleDelete(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Products/Delete",
                        data: {
                            id: id
                        },

                        success: function (response) {
                            Swal.fire(
                                'Deleted!',
                                'Product has been deleted.',
                                'success'
                            )
                            setTimeout(
                                function () {
                                    location.reload();
                                }, 700);
                        }
                    });
                }
            })

        }
        $(document).ready(function () {
            // Update Status
            $(document).on('click', '.updateStatus', function () {
                var object_id = $(this).attr('object_id');
                var status = $(this).attr('status');
                var id = $(this).attr('id');

                $.ajax({
                    type: 'POST',
                    url: '/admin/Products/UpdateStatus',
                    data: { object_id: object_id, status: status },
                    success: function (resp) {
                        if (resp.status === 0) {
                            $("#" + id).prop("checked", false);
                            $("#" + id).attr("status", 0);
                        } else {
                            $("#" + id).prop("checked", true);
                            $("#" + id).attr("status", 1);
                        }
                    },
                    error: function () {
                        alert("Error");
                    }
                });
            });
        });
    </script>
}   